.input {
  padding: 16px;
  width:27vw;
  outline: none;
  margin-top:4px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 3px;
  font-size:15px;
}

.form-card {
 padding: 25px;
 background-color: aliceblue;
 border: solid 1px black;
 border-radius: 5px;
 margin-bottom: 20px;
 width:30vw;
}

.label {
  margin: 3px;
  font-style: italic;
  font-size:18px;
}
.sub-btn {
  background-color: blue;
  color: white;
  padding: 10px;
  width: 7vw;
  border-radius: 4px;
 border-width: 0px;
 margin-top: 10px;
 cursor: pointer;
}

textarea{
  margin-top:5px;
  margin-bottom: 10px;
  outline: none;
 border-radius: 3px;
 padding: 5px;
}

.drop{
  padding: 15px;
  width:29vw;
  outline: none;
  margin-top:4px;
  margin-bottom: 10px;
  border-width: 1px;
  border-radius: 3px;
  font-size: 17px;
}

.clr-btn {
  margin-left:15px;
  background-color: brown;
}