.bg-card {
  background-image: url(//sulcdn.azureedge.net/content/hp/bg/dance.jpg);
  background-size: cover;
  height: 30vh;
}
.serch-input {
  padding: 15px;
  width:28vw;     
  border-width: 0px;
  font-size:15px; 
  outline: none;  
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serch-btn {
background-color: #ff69b4;
color: #ffffff;
border: none;
padding: 15px 20px;
border-radius: 1px;
margin-bottom: 10px;
cursor: pointer;
margin-top:10px;
}
.serch-btn:hover {
background-color: #ff4785;
}
.serch-card {
  display: flex;
  align-items: center; 
 
} 
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res {
  text-align: center;
  font-family: var(--ta-sans-serif) !important;
  display: none;
}     
.user {
  display: flex;
  align-items: center;
}
.ab {
  display: flex;
  justify-content: space-between;
}
.heanding {
  font-size: 22px;
  line-height: 0px;
  color:#8a2b4a;
  font-weight: 500;
  margin-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bis {
  font-size: 17px;
  margin-right:15px;
  cursor: pointer;
  color:rgb(28, 32, 32);
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color:#8a2b4a;

}
.b-icon {
  font-size:19px;
  padding-right: 7px;
}