.bg-card {
  background-image: url(//sulcdn.azureedge.net/content/hp/bg/dance.jpg);
  background-size: cover;
  height: 30vh;
}
.serch-input {
  padding: 15px;
  width:28vw;     
  border-width: 0px;
  font-size:15px; 
  outline: none;  
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serch-btn {
background-color: #ff69b4;
color: #ffffff;
border: none;
padding: 15px 20px;
border-radius: 1px;
margin-bottom: 10px;
cursor: pointer;
margin-top:10px;
}
.serch-btn:hover {
background-color: #ff4785;
}
.serch-card {
  display: flex;
  align-items: center; 
 
} 
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.res {
  text-align: center;
  font-family: var(--ta-sans-serif) !important;
  display: none;
}     
.user {
  display: flex;
  align-items: center;
}
.ab {
  display: flex;
  justify-content: space-between;
}
.heanding {
  font-size: 22px;
  line-height: 0px;
  color:#8a2b4a;
  font-weight: 500;
  margin-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bis {
  font-size: 17px;
  margin-right:15px;
  cursor: pointer;
  color:rgb(28, 32, 32);
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color:#8a2b4a;

}
.b-icon {
  font-size:19px;
  padding-right: 7px;
}
.filter-heading {
  margin: 0;
  font-family: 'Roboto';
  color: black;
  font-size: 17px;
  font-weight: 500;
}
.prodect-input{
    
  border-bottom: 2px solid #1f91f3;
  font-size:18px;
  font-weight: 400;
  padding-left:5px;
   color: #555;
  margin: 7px;
  margin-bottom: 30px;
  width:210px;
  margin-left:20px;
 outline: none;
  padding: 5px;
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    border: solid transparent;
    border-width: var(--bs-border-width) 0;
    border-bottom: 1px rgb(67, 11, 221) solid;
    font-size: 15px;
} 
.filter-box {
  margin:20px 0px 5px 30px;
}